@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@import url(https://db.onlinewebfonts.com/c/f83531ae85a3fcd9345c4267e28833ee?family=DIN+Next+Rounded+LT+Pro+Medium);
:root
{
    --myRed:#d74339;
    --myGrey:#e5e5e5;
    --myBeige1:#F0DBBE;
    --myBeige:#F2EEE3;
}

body
{
    background-color: var(--myBeige);
    /* background-color: white; */
    color: black;
    color: var(--myRed); 
    font-family: Arial, Helvetica, sans-serif;
    font-family: "DIN Next Rounded LT Pro Medium";
}
a
{
    text-decoration: none;
}

.navbar
{
    background-color: var(--myRed);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* height: 5em; */
    /* width: 100%; */
}
.navbar a
{
    color: var(--myBeige);
    font-size: 2em;
    font-family: "Feather Bold";
}



.levels
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.level
{
    background-color: var(--myBeige);
    color: var(--myRed);
    font-weight: bold;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    max-width: 300px;
    min-width: 300px;
    border: 4px var(--myRed) solid;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container
{
    /* background-color: aqua; */
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#counter
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 20px; */
}
#counternumber
{
    color: var(--myRed);
    font-size: 20px;
    text-align: center;
}
#counterline
{
    background-color: var(--myRed);
    width: 100px;
    height: 3px;
}

.kanjicard
{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left
{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
}
#kanji
{
    font-size: 100px;
}
#english
{
    margin-top: -.5em;
    margin-bottom: .5em;
    font-size: 30px;
}

.right
{
    /* width: 60%; */
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.examples_table tr, .examples_table td
{
    background-color: var(--myBeige);
    color: var(--myRed);
    border-bottom-color: var(--myRed);
    font-size: 1.2em;
}
.examples_table td:nth-child(1), .examples_table td:nth-child(2)
{
    white-space: nowrap;
    vertical-align: middle;
}

.nextLinks
{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.nextLinks a
{
    color: var(--myRed);
    font-weight: bold;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited
{
    background-color: var(--myRed); /* Change to your desired color */
    border-color: var(--myRed); /* Change to your desired color */
}
.mainbtn_div
{
    padding: 1em 1em;
}