:root
{
    --myRed:#d74339;
    --myBeige:#F0DBBE;
}

body
{
    color: var(--myRed);
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 1px; */
}
a
{
    text-decoration: none;
}

.p100,.p200,.p300,.p400
{
    height: 20px;
    background-color: blue;
}
.p100{width: 100px;}
.p200{width: 200px;}
.p300{width: 300px;}
.p400{width: 400px;}

.navbar
{
    background-color: var(--myRed);
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.navbar a
{
    color: var(--myBeige);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}



.levels
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.level
{
    background-color: var(--myBeige);
    color: var(--myRed);
    font-weight: bold;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    max-width: 300px;
    min-width: 300px;
    border: 4px var(--myRed) solid;
    border-radius: 10px;
    text-align: center;
}
.container
{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.counter
{
    font-size: 20px;
    margin-bottom: 20px;
}

.card
{
    
    background-color: var(--myBeige);
    border: 4px var(--myRed) solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* height: 250px; */
    width: 350px;
    /* max-width: 300px; */
    /* min-width: 300px; */
    /* padding: 10px 30px; */
    padding: 10px 0;
}

.left
{
    /* width: 40%; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
}
.left #kanji
{
    font-size: 100px;
}
.left #english
{
    font-size: 30px;
}

.right
{
    /* width: 60%; */
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.examples
{
    border-collapse: separate;
    /* border-spacing: 0; */
    /* margin: 20px; */
}
td
{
    padding-right: 10px;
}
td:last-child
{
    padding-right: none;
}

.nextLinks
{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.nextLinks a
{
    color: var(--myRed);
    font-weight: bold;
}